:root {
    --color-crimson: #e43636;   /* rgb(228, 54, 54) */
    --color-ivory:   #f6efd2;   /* rgb(246, 239, 210) */
    --color-sand:    #e2ddb4;   /* rgb(226, 221, 180) */
    --color-black:   #000000;   /* rgb(0, 0, 0) */
  }
  
  /* ===== Global Reset ===== */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Avant Garde", sans-serif;
    background: var(--color-ivory);
    color: var(--color-black);
    line-height: 1.6;
  }
  
  body a {
    font-family: 'Georgia', serif;
  }
  
  /* ===== Header ===== */
  header {
    background: var(--color-crimson);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 6px solid var(--color-black);
    font-family: 'Georgia', serif;
  }
  
  header h1 {
    font-size: 1.5rem;
    color: var(--color-ivory);
  }
  
  header nav a {
    color: var(--color-ivory);
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }

  footer {
    background: var(--color-crimson);
    color: var(--color-ivory);
    text-align: center;
    padding: 1.2rem;
    margin-top: 10rem;
    border-top: 4px solid var(--color-sand);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  footer a {
    text-decoration: none;
    color: var(--color-ivory)
  }
